div {
  background-color: white;
  font-family: sans-serif;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  margin-top: 0px;
  top: 0px;
  padding-right: 10px;
}

ul {
  list-style: none;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
  margin-right: 10px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

#nav-bar {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#header-img {
  height: 7%;
  min-width: 70px;
  max-width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-right: 30px;
}



@media only screen and (max-width: 800px) {
  /* For tablets: */
  #header {
    background-color: white;
  }

  .row {
    display: block;
    padding: 2px;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  ul {
    font-size: 20px;
    margin-bottom: 8px;
  }
  #nav-bar {
    width: 100%;
  }

  div #intro {
    font-size: 15px;
    font-family: sans-serif;
    padding: 1%;
  }

  div #one {
    background-color: ;
    padding: ;
    font-size: center;
    background-image: url();
  }
  div #two {
    background-color: ;
    padding: ;
    text-align: center;
    background-image: url();
  }
  div #three {
    background-color: ;
    padding: ;
    text-align: center;
    background-image: url();
  }
}
